include README.md
include LICENSE
include setup.py
recursive-include archbird *.py
recursive-include archbird/app *
recursive-include csrc *.c *.h *.json
recursive-include csrc/vendor LICENSE
prune scripts
prune tests
